[Unit]
Description=cache server

[Service]
Type=simple
Environment="DISPLAY=:1"
User=webappuser
ExecStart=/usr/bin/python3 /usr/local/bin/cacheServer /var/lib/tomcat8/webapps/webMathematica/api/CommonCore/cronjob/cacheServer/config/config_ai00.json
Restart=always

[Install]
WantedBy=multi-user.target